{%  extends 'base.html'%}
{% block content %}
<br><br><br>
<div class="col-2"></div>
<div class="col-8 border">
  <h1 align="center">ورود</h1>
  <form action="/login" method="post" id="login">
    <br><br>
    <h3 align="right">: نام کاربری </h3>
    <input type="text" name="username" class="ipt" placeholder="Username" required>
    <br><br><br><h3 align="right">: رمز</h3>
    <input type="password" name="password" class="ipt" placeholder="Password" required>
    <br><br><center><button type="submit" class="btn btn-dark">تایید</button><a href="/sign_up" class="btn btn-dark btn-mar">ثبت نام</a></center>
  </form>
  <br><br>
</div>
<br><br><br>
<div class="col-2"></div>
<br><br>
{% endblock %}
