{%extends 'base.html'%}
{%block content%}
<div class="col-2"></div>
<div class="col-8 border pad">
    <center>
        <img src="/static/imgs/{{name}}.jpg" id="profile_img" class="mar"><br>
        <form action="/new_profile" method="post" enctype="multipart/form-data">
            <input type="file" name="file"  accept="image/*">
            <hr>
            <h3 align="right">نام شما:</h3>
            <input type="text" class="ipt" name="username" value="{{data.username}}">
            <br><br><br><h3 align="right">رمز:</h3>
            <input type="text" class="ipt" name="password" value="{{data.password}}">
            <br><br><br><h3 align="right">تکرار رمز:</h3>
            <input type="text" class="ipt" name="re_password" value="{{data.password}}">
            <br><br><br>
            <input type="submit" value="به روز رسانی" class="btn btn-dark">
        </form>
    </center>
</div>
<div class="col-2"></div>
{%endblock%}
